@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3a1;
}

div h1 {
  font-weight: 300;
  font-size: 40px;
}
